.quiz-information {
    border: 2px solid #13662F;
    border-radius: 1rem;
    padding: 1.5rem 0.5rem;
    overflow-y: scroll;
    height: 15rem;
    width: 20rem;
}

.quiz-information h1, p {
    margin: 0;
}

.question-list {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.question-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.quiz-information .question-circle {
    width: 2rem;
    height: 2rem;
    border-radius: 10rem;
    background-color: #13662F;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    font-weight: 700;
}

.question-text {
    font-size: 14pt;
    margin: 0;
    width: 80%;
}