body {
    font-family: 'Inter', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(/assets/img/schule.jpg);
    margin: 0;
    backdrop-filter: blur(10px);
    height: 100vh;
}


::-webkit-scrollbar {
    width: 13px;
}


::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #13662F;

}

::-webkit-scrollbar-thumb:hover {
    background: #13662F;
}

