.quiz-container {
    overflow: hidden;
    color: #212128;
    justify-content: space-around;
    font-family: "Inter", sans-serif;
}

.center {
    display: flex;
    justify-content: space-around;
    height: 90vh;
    align-items: center;
    flex-wrap: wrap;
}

.Name {
    color: #13662F;
}

.Greet {
    margin: 0;
}

.Text {
    margin: 0;
    font-size: 13pt;
    font-weight: bold;
    max-width: 30rem;
}